html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  position: relative;
  line-height: 1;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  background-color: white;
  overflow: scroll;
}

.button {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 10px;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1;
  font-size: 14px;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: center;
  white-space: nowrap;
}
.button--white {
  background-color: #fff;
  color: #000000;
  font-weight: 500;
  border: 2px solid #000;
}
.button--dark {
  font-weight: 500;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
}
.button--inverted {
  padding: 14px 32px;
  color: #fff;
  text-transform: uppercase;
  background-color: #181A1B;
  border: 1 solid #303436;
}
.button-footerleft {
  padding: 12px 20px;
  font-weight: 500;
  color: #fff;
  background-color: #000;
  border: 1px solid #897F70;
  margin-left: 20px;
}
.button-footerright {
  padding: 12px 20px;
  font-weight: 500;
  color: #fff;
  background-color: #303436;
  border: 1px solid #897F70;
}

.box-founder {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0 30px;
  border: 1px solid #878685;
  border-radius: 15px;
  padding: 25px;
}

.box-logo {
  width: 48px;
  height: 48px;
  border-radius: 15px;
}

.box-desc {
  text-align: left;
}
.box-desc p {
  font-size: 14px;
  font-weight: 300;
  color: #C7C6C3;
  line-height: 1.7857142857;
  margin-top: 0;
  margin-bottom: 20px;
}

.timeline-img--space {
  margin-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-weight: bold;
}

.heading {
  font-weight: 500;
  color: #161616;
  font-size: 64px;
  line-height: 1.2307692308;
  margin-bottom: 24px;
}

.text {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.9;
}

.text-year {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.4583333333;
  color: #fff;
}

.text-box {
  font-size: 24px;
  font-weight: 500;
  line-height: 2.0833333333;
  color: #fff;
  text-align: left;
  margin-bottom: 60px;
}
.text-box--gray {
  cursor: pointer;
  transition: all 0.5s;
  color: #878685;
}
.text-box--gray:hover {
  color: #fff;
}
.text-box--nocursor {
  font-size: 16px;
  font-weight: 300;
  cursor: default;
  margin-bottom: 50px !important;
}
.text-box--nocursor:hover {
  color: #878685;
}

.box-background {
  padding-top: 65px;
  border-radius: 10px;
  background-image: url(./../images/box-background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.scroll-vertical {
  margin: 5px;
  padding: 5px;
  background-color: transparent;
  width: 100%;
  height: 1040px;
  overflow: auto;
  text-align: justify;
}

.box-timeline {
  width: 100%;
  height: 11575px;
  position: relative;
  padding: 100px 0 250px 0;
}

.ligne {
  height: 10850px;
  width: 8px;
  margin: 0 auto;
  background: #333;
}

.rond {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #333;
  position: absolute;
  border: 1px solid #000;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

/* 1000 - 160 + 80 / 3 =~ 306 */
.box {
  color: #333;
  width: 510px;
  min-height: 200px;
  padding: 20px;
  border-radius: 3px;
  height: auto;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.time {
  position: absolute;
  right: 50%;
  transform: translate(50%);
}

.r1 {
  top: 100px;
}

.r2 {
  top: 1080px;
}

.r3 {
  top: 2115px;
}

.r4 {
  top: 3525px;
}

.r5 {
  top: 4720px;
}

.r6 {
  top: 6210px;
}

.r7 {
  top: 7410px;
}

.r8 {
  top: 8380px;
}

.r9 {
  top: 9565px;
}

.r10 {
  top: 10920px;
}

/* YEAR  */
.y1,
.y2,
.y3,
.y4,
.y5,
.y6,
.y7,
.y8,
.y9 {
  right: calc(50% + 270px);
  transform: translate(170px, 0);
}

.y1 {
  top: 75px;
}

.y2 {
  top: 1050px;
}

.y3 {
  top: 2085px;
}

.y4 {
  top: 3495px;
}

.y5 {
  top: 4690px;
}

.y6 {
  top: 6180px;
}

.y7 {
  top: 7380px;
}

.y8 {
  top: 8350px;
}

.y9 {
  top: 9535px;
}

.b1,
.b2,
.b3,
.b4,
.b5,
.b6,
.b7,
.b8,
.b9 {
  right: calc(50% - 270px);
  transform: translate(70px, 0%);
}

.b1 {
  top: 80px;
}

.b2 {
  top: 1050px;
}

.b3 {
  top: 2085px;
}

.b4 {
  top: 3495px;
}

.b5 {
  top: 4690px;
}

.b6 {
  top: 6180px;
}

.b7 {
  top: 7380px;
}

.b8 {
  top: 8365px;
}

.b9 {
  top: 9535px;
}

.btn {
  display: block;
  background: midnightblue;
  padding: 10px;
  width: 120px;
  text-align: center;
  color: #f1f1f1;
  text-decoration: none;
  border-radius: 3px;
  margin-top: 10px;
}

@media screen and (max-width: 1000px) {
  .ligne {
    position: relative;
    left: 200px;
  }
  .rond {
    left: calc(50% + 200px);
  }
  .box {
    left: calc(50% - 50px);
  }
}
.test {
  border-radius: 15px;
}

.timeline {
  background-color: #d5d2ce;
}
.timeline-container {
  margin: 0 35px;
}
.timeline-top {
  width: 100%;
  height: 600px;
  background-image: url(./../images/60de510d7335a4d912f1bb9b_Gaussian\ Blur\ -\ Brighter.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.timeline-header {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}
.timeline-logo {
  width: 120px;
  height: 30px;
}
.timeline-button {
  display: flex;
}
.timeline-visit {
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.timeline-clone {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.timeline-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
.timeline-info {
  padding-top: 75px;
  text-align: center;
}
.timeline-heading {
  margin-bottom: 25px;
}
.timeline-insertBG {
  padding: 10px;
  background-image: url(./../images/underline.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 115%;
}
.timeline-bigtext {
  font-size: 32px;
  font-weight: 500px;
  line-height: 1.5625;
  margin-bottom: 16px;
}
.timeline-text {
  max-width: 665px;
  margin: 0 auto;
}
.timeline-content {
  padding-top: 145px;
  text-align: center;
  background-color: #000;
}
.timeline-heading--white {
  color: #fff;
}
.timeline-text--dark {
  color: #fff;
  max-width: 550px;
  margin: 0 auto;
}
.timeline-ionicon {
  margin-left: 5px;
}
.timeline-img--space {
  margin-bottom: 30px;
}
.timeline-relight--box {
  text-align: left;
  padding: 20px;
  background-color: #090909;
  margin-bottom: 50px;
  border-radius: 15px;
}
.timeline-relight--box p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 300;
}
.timeline-relight--box p:nth-child(2) {
  padding: 10px;
}
.timeline-relight--box p:nth-child(3) {
  color: #878685;
  margin-bottom: 10px;
}
.timeline-relume-lauches {
  margin-bottom: 30px;
  text-align: left;
}
.timeline-laughes-text {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 15px;
  background-color: #181A1B;
  margin-bottom: 0;
}
.timeline-bottom {
  padding-top: 120px;
  text-align: center;
  max-width: 770px;
  margin: 0 auto;
}
.timeline-bottom--secondtext {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 40px;
  letter-spacing: 1px;
  line-height: 2.0833333333;
}
.timeline-bottom--thirdtext {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 40px;
}
.timeline-footer {
  height: 645px;
  background-color: #363A3C;
  background-image: url(./../images/60de510d7335a4d912f1bb9b_Gaussian\ Blur\ -\ Brighter.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.timeline-footer--secondtext {
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 40px;
  letter-spacing: 1px;
  line-height: 2.0833333333;
}
.timeline-footer--thirdtext {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 40px;
  line-height: 2.0833333333;
}
.timeline-cover-footer {
  padding-top: 150px;
  height: 100%;
  width: 100%;
  background-image: url(./../images/timeline-footer-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.timeline-footer--content {
  max-width: 770px;
  margin: 0 auto;
  text-align: center;
}

/*# sourceMappingURL=app.css.map */
