.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    position: relative;
    line-height: 1;
    font-family: $font;
    // color: $text-color;
    font-weight: 400;
    background-color: white;
    overflow: scroll;
}

.button {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 10px;
    font-family: $font;
    line-height: 1;
    font-size: 14px;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    white-space: nowrap;

    &--white {
        background-color: #fff;
        color: #000000;
        font-weight: 500;
        border: 2px solid #000;
    }

    &--dark {
        font-weight: 500;
        color: #fff;
        background-color: #000;
        border: 1px solid #000;
    }

    &--inverted {
        padding: 14px 32px;
        color: #fff;
        text-transform: uppercase;
        background-color: #181a1b;
        border: 1 solid #303436;
    }

    &-footerleft {
        padding: 12px 20px;
        font-weight: 500;
        color: #fff;
        background-color: #000;
        border: 1px solid #897f70;
        margin-right: 15px;
    }

    &-footerright {
        padding: 12px 20px;
        font-weight: 500;
        color: #fff;
        background-color: #303436;
        border: 1px solid #897f70;
    }
}

.box-founder {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0 30px;
    border: 1px solid #878685;
    border-radius: 15px;
    padding: 25px;
}

.box-logo {
    width: 48px;
    height: 48px;
    border-radius: 15px;
}

.box-desc {
    text-align: left;

    p {
        font-size: 14px;
        font-weight: 300;
        color: #c7c6c3;
        line-height: calc(25 / 14);
        margin-top: 0;
        margin-bottom: 20px;
    }
}

.timeline-img--space {
    margin-bottom: 30px;
}

.title {
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-bottom: 40px;
}
