.scroll-vertical {
    margin: 5px;
    padding: 5px;
    background-color: transparent;
    width: 100%;
    height: 1040px;
    overflow: auto;
    text-align: justify;
    // border-radius: 15px;
}

.box-timeline {
    width: 100%;
    height: 11575px;
    position: relative;
    padding: 100px 0 250px 0;
}

.ligne {
    height: 10850px;
    width: 8px;
    margin: 0 auto;
    background: #333;
}

.rond {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #333;
    position: absolute;
    border: 1px solid #000;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

/* 1000 - 160 + 80 / 3 =~ 306 */

.box {
    color: #333;
    width: 510px;
    min-height: 200px;
    padding: 20px;
    border-radius: 3px;
    height: auto;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.time {
    position: absolute;
    right: 50%;
    transform: translate(50%);
}

.r1 {
    top: 100px;
}

.r2 {
    top: 1080px;
}

.r3 {
    top: 2115px;
}

.r4 {
    top: 3525px;
}

.r5 {
    top: 4720px;
}

.r6 {
    top: 6210px;
}

.r7 {
    top: 7410px;
}

.r8 {
    top: 8380px;
}

.r9 {
    top: 9565px;
}

.r10 {
    top: 10920px;
}

/* YEAR  */
.y1,
.y2,
.y3,
.y4,
.y5,
.y6,
.y7,
.y8,
.y9 {
    right: calc(50% + 270px);
    transform: translate(170px, 0);
}

.y1 {
    top: 75px;
}

.y2 {
    top: 1050px;
}

.y3 {
    top: 2085px;
}

.y4 {
    top: 3495px;
}

.y5 {
    top: 4690px;
}

.y6 {
    top: 6180px;
}

.y7 {
    top: 7380px;
}

.y8 {
    top: 8350px;
}

.y9 {
    top: 9535px;
}

.b1,
.b2,
.b3,
.b4,
.b5,
.b6,
.b7,
.b8,
.b9 {
    right: calc(50% - 270px);
    transform: translate(70px, 0%);
}

.b1 {
    top: 80px;
}

.b2 {
    top: 1050px;
}

.b3 {
    top: 2085px;
}

.b4 {
    top: 3495px;
}

.b5 {
    top: 4690px;
}

.b6 {
    top: 6180px;
}

.b7 {
    top: 7380px;
}

.b8 {
    top: 8365px;
}

.b9 {
    top: 9535px;
}

// .box p {
//     font-size: 18px;
//     margin: 10px 0 20px 0;
// }

.btn {
    display: block;
    background: midnightblue;
    padding: 10px;
    width: 120px;
    text-align: center;
    color: #f1f1f1;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
}

@media screen and (max-width: 1279px) {
    .box {
        width: 400px;
    }
}

@media screen and (max-width: 1023px) {
    .ligne {
        position: relative;
        left: -365px;
    }

    .rond {
        left: calc(50% + -365px);
    }

    .box {
        left: calc(50% - 140px);
    }
}

@media screen and (max-width: 911px) {
    .ligne {
        left: -330px;
    }
    .rond {
        left: calc(50% + -330px);
    }
}

@media screen and (max-width: 767px) {
    .scroll-vertical {
        display: none;
    }
}
