h1,
h2,
h3,
h4,
h5,
h6 {
    color: $text-white;
    font-weight: bold;
}

.heading {
    font-weight: 500;
    color: $heading-color;
    font-size: 64px;
    line-height: calc(80 / 65);
    margin-bottom: 24px;
}

.text {
    font-size: 20px;
    font-weight: 300;
    line-height: calc(38 / 20);
}

.text-year {
    font-size: 48px;
    font-weight: 700;
    line-height: calc(70 / 48);
    color: #fff;
}

.text-box {
    font-size: 24px;
    font-weight: 500;
    line-height: calc(50 / 24);
    color: #fff;
    text-align: left;
    margin-bottom: 60px;

    &--gray {
        cursor: pointer;
        transition: all 0.5s;
        color: #878685;

        &:hover {
            color: #fff;
        }
    }

    &--nocursor {
        cursor: default;
        margin-bottom: 50px !important;

        &:hover {
            color: #878685;
        }
    }
}

.box-background {
    padding-top: 65px;
    border-radius: 10px;
    background-image: url(./../images/box-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.box-founder {}