$font: "Roboto Slab", sans-serif;

$text-black: #000;
$text-gray: #363636;
$text-white: #fff;

$heading-color: #161616;

// $primary-color: #f53838;
// $gray-1: #dde0e4;
// $gray-2: #f8f8f8;
// $gray-3: #ddd;
